IMG_MINUS_ PNG "Sweep_IMG/-.png"
IMG_PLUS_R PNG "Sweep_IMG/+r.png"
IMG_0 PNG "Sweep_IMG/0.png"
IMG_1 PNG "Sweep_IMG/1.png"
IMG_10 PNG "Sweep_IMG/10.png"
IMG_100 PNG "Sweep_IMG/100.png"
IMG_11 PNG "Sweep_IMG/11.png"
IMG_12 PNG "Sweep_IMG/12.png"
IMG_13 PNG "Sweep_IMG/13.png"
IMG_14 PNG "Sweep_IMG/14.png"
IMG_15 PNG "Sweep_IMG/15.png"
IMG_16 PNG "Sweep_IMG/16.png"
IMG_17 PNG "Sweep_IMG/17.png"
IMG_18 PNG "Sweep_IMG/18.png"
IMG_19 PNG "Sweep_IMG/19.png"
IMG_2 PNG "Sweep_IMG/2.png"
IMG_20 PNG "Sweep_IMG/20.png"
IMG_21 PNG "Sweep_IMG/21.png"
IMG_22 PNG "Sweep_IMG/22.png"
IMG_23 PNG "Sweep_IMG/23.png"
IMG_24 PNG "Sweep_IMG/24.png"
IMG_25 PNG "Sweep_IMG/25.png"
IMG_26 PNG "Sweep_IMG/26.png"
IMG_27 PNG "Sweep_IMG/27.png"
IMG_28 PNG "Sweep_IMG/28.png"
IMG_29 PNG "Sweep_IMG/29.png"
IMG_29F PNG "Sweep_IMG/29f.png"
IMG_3 PNG "Sweep_IMG/3.png"
IMG_30 PNG "Sweep_IMG/30.png"
IMG_31 PNG "Sweep_IMG/31.png"
IMG_32 PNG "Sweep_IMG/32.png"
IMG_33 PNG "Sweep_IMG/33.png"
IMG_34 PNG "Sweep_IMG/34.png"
IMG_35 PNG "Sweep_IMG/35.png"
IMG_36 PNG "Sweep_IMG/36.png"
IMG_37 PNG "Sweep_IMG/37.png"
IMG_38 PNG "Sweep_IMG/38.png"
IMG_39 PNG "Sweep_IMG/39.png"
IMG_4 PNG "Sweep_IMG/4.png"
IMG_40 PNG "Sweep_IMG/40.png"
IMG_41 PNG "Sweep_IMG/41.png"
IMG_42 PNG "Sweep_IMG/42.png"
IMG_43 PNG "Sweep_IMG/43.png"
IMG_44 PNG "Sweep_IMG/44.png"
IMG_45 PNG "Sweep_IMG/45.png"
IMG_46 PNG "Sweep_IMG/46.png"
IMG_47 PNG "Sweep_IMG/47.png"
IMG_48 PNG "Sweep_IMG/48.png"
IMG_49 PNG "Sweep_IMG/49.png"
IMG_5 PNG "Sweep_IMG/5.png"
IMG_50 PNG "Sweep_IMG/50.png"
IMG_51 PNG "Sweep_IMG/51.png"
IMG_52 PNG "Sweep_IMG/52.png"
IMG_53 PNG "Sweep_IMG/53.png"
IMG_54 PNG "Sweep_IMG/54.png"
IMG_55 PNG "Sweep_IMG/55.png"
IMG_56 PNG "Sweep_IMG/56.png"
IMG_57 PNG "Sweep_IMG/57.png"
IMG_58 PNG "Sweep_IMG/58.png"
IMG_59 PNG "Sweep_IMG/59.png"
IMG_6 PNG "Sweep_IMG/6.png"
IMG_60 PNG "Sweep_IMG/60.png"
IMG_61 PNG "Sweep_IMG/61.png"
IMG_62 PNG "Sweep_IMG/62.png"
IMG_63 PNG "Sweep_IMG/63.png"
IMG_64 PNG "Sweep_IMG/64.png"
IMG_65 PNG "Sweep_IMG/65.png"
IMG_66 PNG "Sweep_IMG/66.png"
IMG_7 PNG "Sweep_IMG/7.png"
IMG_71 PNG "Sweep_IMG/71.png"
IMG_72 PNG "Sweep_IMG/72.png"
IMG_73 PNG "Sweep_IMG/73.png"
IMG_74 PNG "Sweep_IMG/74.png"
IMG_75 PNG "Sweep_IMG/75.png"
IMG_76 PNG "Sweep_IMG/76.png"
IMG_77 PNG "Sweep_IMG/77.png"
IMG_78 PNG "Sweep_IMG/78.png"
IMG_79 PNG "Sweep_IMG/79.png"
IMG_8 PNG "Sweep_IMG/8.png"
IMG_80 PNG "Sweep_IMG/80.png"
IMG_81 PNG "Sweep_IMG/81.png"
IMG_82 PNG "Sweep_IMG/82.png"
IMG_83 PNG "Sweep_IMG/83.png"
IMG_84 PNG "Sweep_IMG/84.png"
IMG_85 PNG "Sweep_IMG/85.png"
IMG_86 PNG "Sweep_IMG/86.png"
IMG_87 PNG "Sweep_IMG/87.png"
IMG_88 PNG "Sweep_IMG/88.png"
IMG_89 PNG "Sweep_IMG/89.png"
IMG_9 PNG "Sweep_IMG/9.png"
IMG_90 PNG "Sweep_IMG/90.png"
IMG_91 PNG "Sweep_IMG/91.png"
IMG_92 PNG "Sweep_IMG/92.png"
IMG_93 PNG "Sweep_IMG/93.png"
IMG_94 PNG "Sweep_IMG/94.png"
IMG_95 PNG "Sweep_IMG/95.png"
IMG_96 PNG "Sweep_IMG/96.png"
IMG_97 PNG "Sweep_IMG/97.png"
IMG_98 PNG "Sweep_IMG/98.png"
IMG_99 PNG "Sweep_IMG/99.png"
IMG_AGAIN PNG "Sweep_IMG/again.png"
IMG_BACK PNG "Sweep_IMG/back.png"
IMG_BACKGROUND PNG "Sweep_IMG/background.png"
IMG_COLON_B PNG "Sweep_IMG/colon_b.png"
IMG_COLON_W PNG "Sweep_IMG/colon_w.png"
IMG_CONTINUE PNG "Sweep_IMG/continue.png"
IMG_HELP PNG "Sweep_IMG/help.png"
IMG_HELPBOARD PNG "Sweep_IMG/helpboard.png"
IMG_ILLUSTRATION PNG "Sweep_IMG/illustration.png"
IMG_ILLUSTRATION_TICK PNG "Sweep_IMG/illustration_tick.png"
IMG_MINE PNG "Sweep_IMG/mine.png"
IMG_NONE PNG "Sweep_IMG/none.png"
IMG_OPTION PNG "Sweep_IMG/option.png"
IMG_PAUSE PNG "Sweep_IMG/pause.png"
IMG_PLAY PNG "Sweep_IMG/play.png"
IMG_QUIET PNG "Sweep_IMG/quiet.png"
IMG_RECORD PNG "Sweep_IMG/record.png"
IMG_RECORD0 PNG "Sweep_IMG/record0.png"
IMG_RECORD1 PNG "Sweep_IMG/record1.png"
IMG_RECORD2 PNG "Sweep_IMG/record2.png"
IMG_RECORD3 PNG "Sweep_IMG/record3.png"
IMG_RESTART PNG "Sweep_IMG/restart.png"
IMG_RETURN PNG "Sweep_IMG/return.png"
IMG_RETURN_DOT PNG "Sweep_IMG/return_dot.png"
IMG_SCORE PNG "Sweep_IMG/score.png"
IMG_SCORE_DOT PNG "Sweep_IMG/score_dot.png"
IMG_SPACE PNG "Sweep_IMG/space.png"
IMG_START PNG "Sweep_IMG/start.png"
IMG_TMP PNG "Sweep_IMG/tmp.png"
IMG_MINUS_W PNG "Sweep_IMG/-w.png"

MP3_BACK MP3 "Sweep_MP3/Back.MP3"
MP3_CLICK MP3 "Sweep_MP3/Click.MP3"
MP3_DEFLAG MP3 "Sweep_MP3/Deflag.MP3"
MP3_ERR MP3 "Sweep_MP3/Err.MP3"
MP3_FLAG MP3 "Sweep_MP3/Flag.MP3"
MP3_LOSS MP3 "Sweep_MP3/Loss.MP3"
MP3_OTHER MP3 "Sweep_MP3/Other.MP3"
MP3_WIN MP3 "Sweep_MP3/Win.MP3"
